<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a8276">  <td>22/04/18 14:00:22</td>   <td>0</td> <td title="&lt;&lt;CompleteUserSettingsTest.afterSuite()[pri:0, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 13:59:18</td>   <td>-63413</td> <td>&nbsp;</td><td title="&gt;&gt;CompleteUserSettingsTest.beforeTest()[pri:0, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 13:59:56</td>   <td>-25492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changeBetaTestMode()[pri:3, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">changeBetaTestMode</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 14:00:04</td>   <td>-17406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changePrimaryGaurdMode()[pri:4, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">changePrimaryGaurdMode</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 14:00:10</td>   <td>-11239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changeSendThreatsToHexwaveMode()[pri:5, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">changeSendThreatsToHexwaveMode</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 14:00:16</td>   <td>-5058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.checkUserSettingInDB()[pri:6, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">checkUserSettingInDB</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 13:59:53</td>   <td>-28409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.clickOnUserSettings()[pri:2, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">clickOnUserSettings</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 13:59:46</td>   <td>-35877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.succesfullyLoginAdvanceUser()[pri:1, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">succesfullyLoginAdvanceUser</td> 
  <td>main@1894369629</td>   <td></td> </tr>
</table>
