<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f3b89c">  <td>21/12/18 13:21:53</td>   <td>0</td> <td title="&lt;&lt;BasicUserLoginAndRegisterTest.afterSuite()[pri:0, instance:com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest@505fc5a4]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="93a5cd">  <td>21/12/18 13:21:53</td>   <td>2</td> <td title="&lt;&lt;AISimulatorThreadSendingForInCorrectResultTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForInCorrectResultTest@29215f06]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="7a6466">  <td>21/12/18 13:21:53</td>   <td>1</td> <td title="&lt;&lt;AISimulatorSendingMultipleThreatTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorSendingMultipleThreatTest@3cebbb30]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>21/12/18 13:21:53</td>   <td>0</td> <td title="&lt;&lt;AISimulatorAnomalySendingForCorrectResultTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForCorrectResultTest@5a56cdac]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>21/12/18 13:21:53</td>   <td>0</td> <td title="&lt;&lt;AISimulatorAnomalySendingForInCorrectResultTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForInCorrectResultTest@3c7f66c4]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>21/12/18 13:21:53</td>   <td>0</td> <td title="&lt;&lt;AISimulatorNonThreatSendingForCorrectResultTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForCorrectResultTest@3e11f9e9]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>21/12/18 13:21:53</td>   <td>1</td> <td title="&lt;&lt;AISimulatorThreadSendingForCorrectResultTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForCorrectResultTest@1151e434]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>21/12/18 13:21:53</td>   <td>1</td> <td title="&lt;&lt;AISimulatorSendingNonThreatAndAnomalyTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorSendingNonThreatAndAnomalyTest@82de64a]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>21/12/18 13:21:53</td>   <td>1</td> <td title="&lt;&lt;AISimulatorNonThreatSendingForInCorrectResultTest.aftersuit()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForInCorrectResultTest@66f57048]">&lt;&lt;aftersuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>21/12/18 13:15:22</td>   <td>-390271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.anomalyCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForCorrectResultTest@5a56cdac]">anomalyCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>21/12/18 13:16:09</td>   <td>-343357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForInCorrectResultTest.anomalyCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForInCorrectResultTest@3c7f66c4]">anomalyCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>21/12/18 13:19:53</td>   <td>-119176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorSendingNonThreatAndAnomalyTest.anomalyCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorSendingNonThreatAndAnomalyTest@82de64a]">anomalyCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>21/12/18 13:14:45</td>   <td>-427191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForCorrectResultTest@5a56cdac]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>21/12/18 13:15:31</td>   <td>-381627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForInCorrectResultTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForInCorrectResultTest@3c7f66c4]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>21/12/18 13:16:24</td>   <td>-329011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorNonThreatSendingForCorrectResultTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForCorrectResultTest@3e11f9e9]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>21/12/18 13:17:15</td>   <td>-277586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorNonThreatSendingForInCorrectResultTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForInCorrectResultTest@66f57048]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="7a6466">  <td>21/12/18 13:18:10</td>   <td>-222443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorSendingMultipleThreatTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorSendingMultipleThreatTest@3cebbb30]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>21/12/18 13:19:07</td>   <td>-165378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorSendingNonThreatAndAnomalyTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorSendingNonThreatAndAnomalyTest@82de64a]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>21/12/18 13:20:02</td>   <td>-110160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorThreadSendingForCorrectResultTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForCorrectResultTest@1151e434]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="93a5cd">  <td>21/12/18 13:20:53</td>   <td>-59541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorThreadSendingForInCorrectResultTest.basicUserLoginMethod()[pri:1, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForInCorrectResultTest@29215f06]">basicUserLoginMethod</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>21/12/18 13:14:06</td>   <td>-467091</td> <td>&nbsp;</td><td title="&gt;&gt;BasicUserLoginAndRegisterTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest@505fc5a4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>21/12/18 13:14:45</td>   <td>-427193</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorAnomalySendingForCorrectResultTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForCorrectResultTest@5a56cdac]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>21/12/18 13:15:31</td>   <td>-381629</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorAnomalySendingForInCorrectResultTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForInCorrectResultTest@3c7f66c4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>21/12/18 13:16:24</td>   <td>-329012</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorNonThreatSendingForCorrectResultTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForCorrectResultTest@3e11f9e9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>21/12/18 13:17:15</td>   <td>-277587</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorNonThreatSendingForInCorrectResultTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForInCorrectResultTest@66f57048]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="7a6466">  <td>21/12/18 13:18:10</td>   <td>-222444</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorSendingMultipleThreatTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorSendingMultipleThreatTest@3cebbb30]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>21/12/18 13:19:07</td>   <td>-165379</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorSendingNonThreatAndAnomalyTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorSendingNonThreatAndAnomalyTest@82de64a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>21/12/18 13:20:02</td>   <td>-110161</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorThreadSendingForCorrectResultTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForCorrectResultTest@1151e434]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="93a5cd">  <td>21/12/18 13:20:53</td>   <td>-59543</td> <td>&nbsp;</td><td title="&gt;&gt;AISimulatorThreadSendingForInCorrectResultTest.beforeTest()[pri:0, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForInCorrectResultTest@29215f06]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>21/12/18 13:17:04</td>   <td>-288209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorNonThreatSendingForCorrectResultTest.nonThreatCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForCorrectResultTest@3e11f9e9]">nonThreatCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>21/12/18 13:17:56</td>   <td>-236720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorNonThreatSendingForInCorrectResultTest.nonThreatCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForInCorrectResultTest@66f57048]">nonThreatCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="7a6466">  <td>21/12/18 13:18:57</td>   <td>-176049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorSendingMultipleThreatTest.nonThreatCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorSendingMultipleThreatTest@3cebbb30]">nonThreatCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>21/12/18 13:14:57</td>   <td>-415153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForCorrectResultTest.succesfullySendAnomaly()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForCorrectResultTest@5a56cdac]">succesfullySendAnomaly</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>21/12/18 13:15:43</td>   <td>-369250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorAnomalySendingForInCorrectResultTest.succesfullySendAnomaly()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorAnomalySendingForInCorrectResultTest@3c7f66c4]">succesfullySendAnomaly</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="a68a88">  <td>21/12/18 13:19:24</td>   <td>-149120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorSendingNonThreatAndAnomalyTest.succesfullySendAnomaly()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorSendingNonThreatAndAnomalyTest@82de64a]">succesfullySendAnomaly</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>21/12/18 13:14:24</td>   <td>-448718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicUserLoginAndRegisterTest.successfullyCheckAlreayHaveAnAccount()[pri:2, instance:com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest@505fc5a4]">successfullyCheckAlreayHaveAnAccount</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>21/12/18 13:14:28</td>   <td>-444232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicUserLoginAndRegisterTest.successfullyLoginBasicUser()[pri:3, instance:com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest@505fc5a4]">successfullyLoginBasicUser</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>21/12/18 13:14:37</td>   <td>-435760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicUserLoginAndRegisterTest.successfullyLogoutBasicUser()[pri:4, instance:com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest@505fc5a4]">successfullyLogoutBasicUser</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="f3b89c">  <td>21/12/18 13:14:07</td>   <td>-465142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicUserLoginAndRegisterTest.successfullyRegisterBasicUser()[pri:1, instance:com.test.basicuseraismiluatortest.BasicUserLoginAndRegisterTest@505fc5a4]">successfullyRegisterBasicUser</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>21/12/18 13:16:36</td>   <td>-316521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorNonThreatSendingForCorrectResultTest.successfullySendNonThreat()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForCorrectResultTest@3e11f9e9]">successfullySendNonThreat</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>21/12/18 13:17:27</td>   <td>-265370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorNonThreatSendingForInCorrectResultTest.successfullySendNonThreat()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorNonThreatSendingForInCorrectResultTest@66f57048]">successfullySendNonThreat</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="7a6466">  <td>21/12/18 13:18:22</td>   <td>-210621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorSendingMultipleThreatTest.successfullySendNonThreat()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorSendingMultipleThreatTest@3cebbb30]">successfullySendNonThreat</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>21/12/18 13:20:16</td>   <td>-96811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorThreadSendingForCorrectResultTest.successfullySendingThreat()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForCorrectResultTest@1151e434]">successfullySendingThreat</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="93a5cd">  <td>21/12/18 13:21:07</td>   <td>-45402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorThreadSendingForInCorrectResultTest.successfullySendingThreat()[pri:2, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForInCorrectResultTest@29215f06]">successfullySendingThreat</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="93a5cd">  <td>21/12/18 13:21:38</td>   <td>-14898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorThreadSendingForInCorrectResultTest.threatCheckForInCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForInCorrectResultTest@29215f06]">threatCheckForInCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>21/12/18 13:20:44</td>   <td>-68337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AISimulatorThreadSendingForCorrectResultTest.threatCorrectResult()[pri:3, instance:com.test.basicuseraismiluatortest.AISimulatorThreadSendingForCorrectResultTest@1151e434]">threatCorrectResult</td> 
  <td>main@121167003</td>   <td></td> </tr>
</table>
