<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:32:25</td>   <td>0</td> <td title="&lt;&lt;CompleteUserSettingsTest.afterSuite()[pri:0, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:31:42</td>   <td>-42710</td> <td>&nbsp;</td><td title="&gt;&gt;CompleteUserSettingsTest.beforeTest()[pri:0, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:32:02</td>   <td>-22867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changeBetaTestMode()[pri:3, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">changeBetaTestMode</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:32:10</td>   <td>-15457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changePrimaryGaurdMode()[pri:4, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">changePrimaryGaurdMode</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:32:16</td>   <td>-9241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.changeSendThreatsToHexwaveMode()[pri:5, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">changeSendThreatsToHexwaveMode</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:32:22</td>   <td>-3072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.checkUserSettingInDB()[pri:6, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">checkUserSettingInDB</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:31:59</td>   <td>-26177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.clickOnUserSettings()[pri:2, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">clickOnUserSettings</td> 
  <td>main@1894369629</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>22/04/18 15:31:52</td>   <td>-33433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompleteUserSettingsTest.succesfullyLoginAdvanceUser()[pri:1, instance:com.test.advanceusertest.CompleteUserSettingsTest@1da2cb77]">succesfullyLoginAdvanceUser</td> 
  <td>main@1894369629</td>   <td></td> </tr>
</table>
